/* ------ Общие стили
-----------------------------------------------*/

.pd{
padding:10px;
background:#B0AFAF;
float:left;
clear:both;
width:100%;
margin-bottom:10px;
font-weight: bold;
}

.code_sample{
float:left;
}

/* ------ Стили для mobilyslider
-----------------------------------------------*/

.slider {
height:300px;
position:relative;
padding-bottom:26px;
background:url(/images/gfx/bottom_shadow.png) no-repeat bottom center;
}

.sliderContent {
height:300px;
clear:both;
position:relative;
overflow:hidden;
}

.sliderArrows a {
display:block;
text-indent:-9999px;
outline:none;
z-index:50;
background-image:url(/images/gfx/prev_next.png);
width:42px;
height:42px;
position:absolute;
top:50%;
margin-top:-34px;
transition: none;
}

.prev {
background-position:0 0;
left:15px;
}

.prev:hover {
background-position:0 -44px;
}

.next {
right:15px;
background-position:-44px 0;
}

.next:hover {
background-position:-44px -44px;
}

.sliderContent .slide {
    position: absolute;
    width: 658px;
    height: 300px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.sliderBullets {
position:absolute;
bottom:0;
left:50%;
z-index:50;
margin-left:-45px;
}

.sliderBullets a {
display:block;
float:left;
text-indent:-9999px;
outline:none;
margin-left:5px;
width:10px;
height:11px;
background:url(/images/gfx/bullets.png) no-repeat;
}

.sliderBullets .active {
background-position:0 -11px;
}

.sliderContent a {
outline:none;
}

.slider a {
color:#fff;
}

